@font-face {
    font-family: Oswald;
    src: url(./assets/Oswald/static/Oswald-Regular.ttf);
}

body {
    position: relative;
    background-color: #606C38;
    text-align: center;
    color: #fffefe;
    font-family: Oswald;
}

section {
    min-height: 278.5px;
}

header > h1 {
    position: absolute;
    top: 12px;
    animation: name-reveal 1.5s .3s ease-in-out alternate 2;
}

@keyframes name-reveal {
    from {
        opacity: 0%;
    }
    to {
        opacity: 100%;
    }
}

.cards {
    display: flex;
    flex-direction: column;
    align-items: center;
}

article {
    position: relative;
    background-color: #ffffff;
    margin-bottom: 50px;
    width: 375px;
    overflow: hidden;
}

.project-buttons {
    position: absolute;
    align-items: center;
    margin-top: 3.5px;
    right: 30px;
    cursor: pointer;
}

h4, .project-buttons {
    display: flex;
    gap: 15px;
    justify-content: center;
}

hr {
    margin: 0px 40px;
}

p {
    margin: 0px;
    padding: 18px;
    color: #687078;
    font-size: 19px;
}

header p {
    color: #fffefe;
}

header img, article {
    box-shadow: rgba(3, 2, 2, 0.24) 0px 3px 8px;
    border-radius: 8px;
}

h3 {
    margin: 18px 20px;
    text-align: left;
    color: #648600;
}

h3, h1 {
    margin-bottom: 0px;
}
h2 {
    font-size: 30px;
}

@media (min-width: 450px), (min-width: 1000px) { /* tablet & laptop */
    header {
        display: flex;
        box-shadow: rgba(3, 2, 2, 0.24) 0px 3px 8px;
        margin: 20px;
        border-radius: 10px;
        overflow: hidden;
    }
    header section, header p {
        background-color: #ffffff;
        color: #687078;
    }
    header img {
        border-radius: 0px;
    }
    .cards {
        display: grid;
        grid-template-columns: auto auto;
        justify-content: center;
        gap: 50px;
        align-items: start;
    }

    p {
        font-size: 23px;
    }
    header > h1 {
        top: -1px;
    }
    h1, h2 {
        font-size: 35px;
    }
    h3, h4 {
        font-size: 26px;
    }

    .project-buttons img {
        margin-top: 4.5px;
        width: 24px;
    }
}

@media (min-width: 1000px) { /* laptop */
    .cards {
        grid-template-columns: auto auto auto;
        align-items: start;
    }
}